<div class="container">
<h2>Task list</h2>
<h3>Current tasks</h3>
<p align="right">Active tasks | <a href="#/archive">Completed tasks</a></p>
  
<!-- Todos input -->
    <form>
      Task description&nbsp;<input type="text" data ng-model="todo.name" placeholder="Enter new task"/>
      Priority&nbsp;<select data ng-model="todo.importance">
        <option value="urgent"selected="selected">Urgent</option>
        <option value="high">High</option>
        <option value="low">Low</option>
      </select>
      <input type = "submit" data ng-click="submitTodo()" value="Add task" />
      <br/><br/>
      <!-- Todos list -->
      <div data ng-repeat="todo in todos" ng-hide="todo.done || todo.expiredDate">
      <input type="text" value="{{todo.name}}" readonly />
      <input type="text" value="{{todo.importance}}" readonly/>
      Created at: <input type="text" value="{{todo.date | date:'medium'}}" readonly />
        <button data ng-click="deleteTodo(todo)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
        <button data ng-click="archiveTodo(todo)" title="Done"><span class="glyphicon glyphicon-ok"></span></button>
      </div>
    </form>
    <br/>
    <!-- Todos: {{todos}}<br />
    Todo : {{todo}}<br /> -->
</div>